<div data-ng-controller="headerCtrl as vm" class="navbar navbar-fixed-top">

    <div class="nav navbar-nav pull-left">
        <img style=" height:48px;" src="../../Content/images/Logo-temp.png" alt="Marine Enterprise Suite" />

    </div>
                    <ul class="nav nav-pills pull-right" style="margin:0px" data-ng-repeat=" item in vm.toolOptions">
                        <li class="active">
                            <img style="height:30px;" src="{{item.image}}" data-ng-click="vm.click(item)" />
                        </li>
                    </ul>
</div>
