
#quadConfSelect ul {
    margin:0;
    -webkit-margin-start: 0;
    -webkit-padding-start: 0;
    list-style: none;
    display: block;
    width: 100%;
 
}

#quadConfSelect ul.topMenu {
         padding-bottom: 60px;
  background-color: #FFF;
  max-height:400px;
  overflow-y:auto;
}

#quadConfSelect ul.subMenu {
    color: #ffd800;
}

#quadConfSelect ul li{
    list-style: none;
    cursor: pointer;
}

#quadConfSelect ul li a {
      font-size: 13px;
  line-height: 44px;
  height: 44px;
  text-decoration: none;
  color: #444;
  display: block;
  padding: 0 15px;
}

#quadConfSelect li.title > a {
    font-weight: 900;
}


#quadConfSelect ul li a:hover, #quadConfSelect ul li a:active, #quadConfSelect ul li a:focus  {
  color: #ffd800;
  text-decoration: none;
}

#quadConfSelect ul li:hover {
    background-color:  rgba(0, 0, 0, 0.05);
}

#quadConfSelect .collapsibleMenu {
    background-color: #fff;
}

#quadConfSelect .collapsibleMenu a {
      margin: 0 1rem 0 2rem;
}

#quadConfSelect .collapsibleMenu li.active a, #quadConfSelect li.active a {
    color: dodgerblue ;
    font-weight: 900;
}
