<div class="container" data-ng-controller="bodyCtrl as bodyvm">
    <div class="navbar navbar-default navbar-fixed-top" data-ng-controller="menuBarCtrl as menuBarvm">

        </div>
    <div ng-repeat="window in bodyvm.windows">
        <div windowid="{{window.id}}" class="windowDiv" id="{{window.elementId}}"
             ng-style="
            {
            position: 'absolute',
            left: window.x,
            top: window.y,
            height: window.height,
            width: window.width,
            'z-index': window.zIndex
            }">
            <h2 style="position: absolute; z-index: 2323; width: 100%" data-ng-show="window.showHeader">{{window.name}}<span class="mes-cross right" data-ng-click="vm.deleteWindow(window.id, window.closingNotification)"></span></h2>
            <!-- Debug data start -->
            <!--
                <div data-ng-show="window.docked">
                    <h1>row {{window.row}}</h1>
                    <h1>row span {{window.rowSpan}}</h1>
                    <h1>column {{window.column}}</h1>
                    <h1>column span {{window.colSpan}}</h1>
                </div>-->
            <!-- Debug data end -->
            <div data-ng-include="window.route"></div>
        </div>
    </div>
    </div>
